@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  background-image: linear-gradient(#ebd6ff, #ecb6cc, #274460);
  background-size: cover;
  font-family: 'Inconsolata', monospace;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

#photos {
  opacity: .88;
}

#photos img {
  width: 30%;
  float: left;
  display: block;
  margin: 2px;
}

ul {
  list-style: none;
  margin: 0px auto;
  padding: 0px;
  display: block;
  max-width: 780px;
  text-align: center;
}

#photos {
  width: 100%;
}

#photo-gallery {
  width: 100%;
  position: absolute;
  transition: .5s ease;
  background-color: black;
}
